html{
    background-color: rgba(201, 200, 200, 0.444);;
}





.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 70% auto 80%;

}


.circles {
    height: 250px; 
    width: 250px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    object-position: center;
    overflow: hidden;
}

.img {
    grid-area: 2 / 2 / 2 / 2;
    margin-left: 220px;
    object-fit: cover;
    object-position: center;
}

.portfolio {
    grid-area: 2 / 2 / 2 / 2;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #00095b;
    color: white;
}

.portfolio a {
    color: white;
    text-decoration: none;
    font-family: "Roboto", sans-serif;;
    font-size: 20pt;
    font-weight: 800;
    border: 5px solid #00095b;
    margin: 20px;
    padding: 20px;
    border: radius 40px;
}

.portfolio a:hover {
    color: #00095b;
    text-decoration: none;
    font-family: "Roboto", sans-serif;;
    font-size: 20pt;
    font-weight: 800;
    border: 5px solid white;
    margin: 20px;
    padding: 20px;
    border-radius: 40px;
    background-color: #7886C7;
}


